* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/90/763/desktop-wallpaper-construction-site-construction.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/**** NAVBAR ****/

.navbarli {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    position: relative;
}

a:hover {
    color: orange;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2%;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: orange;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,138,0,1) 0%, rgba(255,218,0,1) 100%);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/**** DROPDOWN MENU ****/

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/**** RESPONSIVE DESIGN ****/

@media(max-width: 760px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/**** FOOTER ****/

footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.logofoot {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footerli{
    list-style: none;
    margin-bottom: 12px;
}

.footerli a {
    text-decoration: none;
    color: #fff;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }
}

/**** FORMULAIRE ****/

.formulaire {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,138,0,1) 0%, rgba(255,218,0,1) 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 10%;
    width: 95%;
    border: 1px solid;
    border-radius: 8px;
}

.formulaire > h1 {
    font-weight: 500;
    margin-top: 4%;
}

.formulaire > p {
    font-weight: 300;
    margin-top: 2%;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input, form div > select, form div > textarea {
    background: #e9c962;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
}

form div > select {
    appearance: none;
    background-size: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDIxMy4zMzMgMjEzLjMzMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cgk8Zz4KCQk8cG9seWdvbiBwb2ludHM9IjAsNTMuMzMzIDEwNi42NjcsMTYwIDIxMy4zMzMsNTMuMzMzICAgIiBmaWxsPSIjMzAzMDMwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBzdHlsZT0iIiBjbGFzcz0iIj48L3BvbHlnb24+Cgk8L2c+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPC9nPjwvc3ZnPg==);
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
    resize: none;
}

form div > input::placeholder, form div > textarea::placeholder {
    color: white;
}

form div > select:invalid {
    color: white;
}

form div > select option {
    background: white;
    color: #303030;
}

form div:last-child {
    align-items: center;
    margin-top: 20px;
}

form button {
    width: 75%;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
}

/**** RESPONSIVE ****/

@media (max-width: 760px) {
    .formulaire {
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,138,0,1) 0%, rgba(255,218,0,1) 100%);
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding: 0 50px 0 50px;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        margin-top: 25%;
        width: 95%;
        border: 1px solid;
        border-radius: 8px;
    }
}